@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Quicksand:wght@600;700&display=swap');
@import url('../css/nme0ify.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

li,
ul {
  list-style: none;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -.045rem;
  word-break: keep-all;
  color: #676d72;
}

::selection {
  background: #1abc9c;
  color: #fff;
  text-shadow: none;
}

/* 공통 클래스 */
.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 147rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.wrap {
  position: relative;
  display: block;
}

/* Header */
.header {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 14rem;
  z-index: 6;
  transition: all .3s;
}

.header--scroll {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 1rem rgb(0 0 0 / 10%);
}

.header__logo {
  display: block;
  float: left;
  width: 18rem;
  height: 7rem;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
  margin-top: 3.5rem;
}

.menu-area {
  display: flex;
  justify-content: space-between;
  float: right;
  width: calc(100% - 26rem);
  padding-top: 2.5rem;
}

.dep01 {
  display: flex;
  flex-wrap: wrap;
}

.dep01>li {
  position: relative;
  display: block;
  margin-right: 6rem;
}

.dep01>li:nth-child(1) {
  width: 4rem;
}

.dep01>li:nth-child(2) {
  width: 7.4rem;
}

.dep01>li:nth-child(3) {
  width: 11.8rem;
}

.dep01>li:nth-child(4) {
  width: 10rem;
}

.dep01>li:nth-child(5) {
  width: 11.2rem;
}

.dep01>li:nth-child(6) {
  width: 8.2rem;
  margin-right: 0;
}

.mainmenu {
  display: block;
  font-family: 'Quicksand';
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4rem;
  text-align: center;
  white-space: nowrap;
  color: #676d72;
  padding: 3rem 0;
  margin: 0 -2rem;
  transition: all .1s;
  z-index: 1;
}

.dep01>li:hover .mainmenu {
  font-size: 2rem;
  font-weight: 700;
  color: #f9ce42;
}

.dep01>li>span {
  position: relative;
  z-index: 1;
  cursor: default;
}

.dep02 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: none;
  width: 15rem;
  background-color: #fff;
  border-radius: 3rem;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 5%);
  padding: 8.4rem 0 4rem 0;
}

.mainmenu03+.dep02 {
  width: 20rem;
}

.dep01>li:hover .dep02 {
  display: block;
}

.dep02>li {
  margin-bottom: 4rem;
}

.dep02>li:last-child {
  margin-bottom: 0;
}

.dep02>li>a {
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #676d72;
}

.dep02>li>a:hover {
  font-weight: 700;
  color: #505559;
}

.m-gnb-btn {
  position: absolute;
  left: 3rem;
  top: 4.6rem;
  display: none;
  width: 4.8rem;
  height: 4.8rem;
  background: url('../images/m-gnb-btn.png') no-repeat center;
  background-size: contain;
  border: 0;
}

.m-gnb {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: calc(100% - 2rem);
  height: 100vh;
  background-color: #fff;
  padding: 1.5rem 0 0 3.3rem;
  overflow-y: auto;
  z-index: 1;
}

.m-gnb__close {
  position: absolute;
  right: 3rem;
  top: 2rem;
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  background: url('../images/m-gnb-close.png') no-repeat center;
  background-size: contain;
  border: 0;
}

.m-gnb-login {
  display: block;
  padding-bottom: 3.3rem;
}

.m-gnb-login span {
  display: block;
  font-size: 1.6rem;
  color: #676d72;
}

.m-gnb-login a {
  position: relative;
  font-family: 'Quicksand';
  font-size: 1.6rem;
  font-weight: 600;
  color: #f9ce42;
  padding-left: 3rem;
}

.m-gnb-login a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1.8rem;
  height: 1.7rem;
  background: url('../images/m-gnb-login.png') no-repeat center;
  background-size: contain;
}

.m-dep01 {
  display: block;
  padding-bottom: 5rem;
}

.m-dep01>li {
  display: block;
  margin-bottom: 3.3rem;
}

.m-dep01>li:last-child {
  margin-bottom: 0;
}

.m-dep01>li>* {
  display: block;
  font-family: 'Quicksand';
  font-size: 1.8rem;
  font-weight: 600;
  color: #676d72;
  cursor: pointer;
  transition: all 0.1s;
}

.m-dep01>li>a {
  background: url('../images/m-gnb-arrow-right.png') no-repeat right 3.3rem center;
  background-size: .8rem auto;
}

.m-mainmenu {
  background: url('../images/m-gnb-arrow-down.png') no-repeat right 3rem center;
  background-size: auto .8rem;
}

.m-mainmenu--active {
  font-weight: 700 !important;
  color: #f9ce42 !important;
  background: url('../images/m-gnb-arrow-up.png') no-repeat right 3.3rem center;
  background-size: auto .8rem;
}

.m-dep02 {
  display: none !important;
  padding-left: 1.8rem;
  margin-top: 3rem;
}

.m-dep02--show {
  display: block !important;
}

.m-dep02>li {
  display: block;
}

.m-dep02>li>a {
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 5rem;
  color: #7e868c;
}

.m-gnb-link {
  display: block;
  border-top: .1rem solid #cfdbe5;
  padding: 2rem 0;
}

.m-gnb-link a {
  display: block;
  font-family: 'Quicksand';
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5rem;
  color: #676d72;
}

.user-menu {
  display: flex;
  padding-top: 2.5rem;
}

.user-menu a {
  position: relative;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 4rem;
}

.user-menu a:first-child {
  margin-left: 0;
}

.cart {
  background: url('../images/ico-cart.png') no-repeat center;
}

.mypage {
  background: url('../images/ico-user.png') no-repeat center;
}

.login {
  background: url('../images/ico-login.png') no-repeat center;
}

.user-menu a span {
  position: absolute;
  left: 50%;
  top: 3.5rem;
  transform: translateX(-50%);
  display: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  white-space: nowrap;
  color: #fff;
  background-color: #000;
  border-radius: .25rem;
  padding: .4rem .8rem;
  cursor: default;
}

.user-menu a span::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -1.3rem;
  transform: translateX(-50%);
  border: .7rem solid transparent;
  border-bottom: .6rem solid #000;
}

.user-menu a:hover span {
  display: block;
}

/* Visual */
.visual {
  position: relative;
  display: block;
}

.sw-visual {
  height: 96rem;
}

.sw-visual-slide01 {
  background: url('../images/visual01.jpg') no-repeat center;
  background-size: cover;
}

.sw-visual-slide02 {
  background: url('../images/visual02.png') no-repeat center;
  background-size: cover;
}

.sw-visual-slide03 {
  background: url('../images/visual03.png') no-repeat center;
  background-size: cover;
}

.sw-visual-slide04 {
  background: url('../images/visual04.png') no-repeat center;
  background-size: cover;
}

.sw-visual__pg {
  position: absolute;
  left: 50% !important;
  bottom: 6rem !important;
  max-width: 123.8rem;
  transform: translateX(-50%);
  z-index: 1;
}

.sw-visual__pg .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  opacity: 1;
  transition: all .3s;
}

.sw-visual__pg .swiper-pagination-bullet:hover {
  background-color: #ffcf42;
}

.sw-visual__pg .swiper-pagination-bullet-active {
  background-color: #ffcf42;
}

/* OUR PROMISE */
.prom {
  position: relative;
  display: block;
  padding: 9rem 0 15rem 0;
}

.prom__tit {
  font-family: 'Quicksand';
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: .3rem;
  text-align: center;
  color: #f9ce42;
}

.prom__tit strong {
  display: block;
  font-family: 'lemonde-courrier', sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 4.2rem;
  letter-spacing: -.045rem;
  color: #676d72;
  margin-top: 2rem;
}

.prom-list {
  display: flex;
  width: 100%;
}

.prom-list li {
  width: 25%;
  padding-top: 19.5rem;
  margin-top: 7rem;
}

.prom-list li:nth-child(1) {
  background: url('../images/promise01.png') no-repeat center top;
}

.prom-list li:nth-child(2) {
  background: url('../images/promise02.png') no-repeat center top;
}

.prom-list li:nth-child(3) {
  background: url('../images/promise03.png') no-repeat center top;
}

.prom-list li:nth-child(4) {
  background: url('../images/promise04.png') no-repeat center top;
}

.prom-list li p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
}

.prom-list li p strong {
  display: block;
  font-family: 'lemonde-courrier', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-bottom: .5rem;
}

/* OUR PRODUCTS */
.prod {
  position: relative;
  display: block;
  padding-bottom: 15rem;
}

.prod .container {
  display: flex;
  overflow: hidden;
}

.prod__tit {
  position: absolute;
  left: 12.2rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Quicksand';
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: .3rem;
  color: #f9ce42;
}

.prod__tit strong {
  display: inline-block;
  width: 18rem;
  font-family: 'lemonde-courrier', sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4.2rem;
  letter-spacing: -.045rem;
  color: #676d72;
  margin-top: 1.5rem;
}

.prod-box-area {
  display: flex;
  margin-left: auto;
}

.prod-box {
  width: 46.7rem;
  height: 71rem;
  text-align: center;
  background-color: #fff5d6;
  border-radius: 2rem;
}

.prod-box02 {
  margin-left: 1.9rem;
}

.prod-box img {
  width: 100%;
  border-radius: 2rem;
}

.prod-box__name {
  display: inline-block;
  font-family: 'Quicksand';
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: center;
  color: #676d72;
  margin: 3rem 0 1rem 0;
}

.prod-box__desc {
  display: block;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  margin-bottom: .3rem;
}

.prod-box__price {
  display: block;
  font-family: 'Quicksand';
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.9rem;
  color: #676d72;
  margin: 1rem 0 3rem 0;
}

.prod-box__more {
  position: relative;
  display: inline-block;
  font-family: 'Quicksand';
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: #f9ce42;
  padding-right: 4.5rem;
}

.prod-box__more::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 3.6rem;
  height: 2.6rem;
  background: url('../images/products-more.png') no-repeat center;
}

/* Info */
.info {
  position: relative;
  display: block;
  padding-bottom: 15rem;
}

.info-area01 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  width: 147rem;
  height: 61.1rem;
  background: url('../images/info-bg01.png') no-repeat left;
  background-size: contain;
  margin-bottom: 9.5rem;
}

.info-txt-area01 {
  width: 50%;
  background: url('../images/info01.png') no-repeat 12.2rem 0;
  padding: 12.5rem 0 0 12.2rem;
  margin-top: 9.2rem;
}

.info-area02 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 147rem;
  height: 63rem;
  background: url('../images/info-bg02.png') no-repeat right;
  background-size: contain;
  margin-bottom: 10rem;
}

.info-txt-area02 {
  width: 50%;
  background: url('../images/info02.png') no-repeat 13.2rem 0;
  padding: 12.5rem 0 0 13.2rem;
  margin-top: 6.5rem;
}

.info-area03 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  width: 147rem;
  height: 58rem;
  background: url('../images/info-bg03.png') no-repeat left;
  background-size: contain;
  margin-bottom: 13rem;
}

.info-txt-area03 {
  width: 50%;
  background: url('../images/info03.png') no-repeat 12.2rem 0;
  padding: 10rem 0 0 12.2rem;
  margin-top: 10.5rem;
}

.info-area04 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 147rem;
  height: 63.1rem;
  background: url('../images/info-bg04.png') no-repeat right;
  background-size: 64.2rem;
}

.info-txt-area04 {
  width: 50%;
  background: url('../images/info04.png') no-repeat 13.2rem 0;
  padding: 10.8rem 0 0 13.2rem;
  margin-top: 8.5rem;
}

.info__tit {
  font-family: 'lemonde-courrier', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.2rem;
}

.info__desc {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -.1rem;
  margin-top: 2.5rem;
}

.br-pc {
  display: block;
}

.br-mb {
  display: none;
}

.info__more {
  position: relative;
  display: inline-block;
  font-family: 'Quicksand';
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: #676d72;
  padding-right: 4.2rem;
  margin-top: 3rem;
}

.info__more::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 3.6rem;
  height: 2.6rem;
  background: url('../images/info-more.png') no-repeat center;
  background-size: contain;
}

/* Footer */
.footer {
  position: relative;
  display: block;
  background-color: #f9f9f9;
  padding: 5rem 0;
}

.footer-link {
  display: flex;
  flex-wrap: wrap;
}

.footer-link>* {
  font-family: 'Quicksand';
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #676d72;
  margin-right: 6rem;
}

.footer-link>*:last-child {
  margin-right: 0;
}

.footer__btn {
  position: relative;
  color: #f9ce42;
  padding-right: 2.6rem;
  cursor: pointer;
}

.footer__btn::after {
  content: '';
  position: absolute;
  right: 0;
  top: .3rem;
  width: 1.6rem;
  height: 1.6rem;
  background: url('../images/footer-link01.png') no-repeat center;
  background-size: contain;
}

.footer__sns {
  position: absolute;
  right: 1.5rem;
  top: 0;
  font-family: 'Quicksand';
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #676d72;
  padding-left: 3.4rem;
  margin: 0 0 0 auto;
}

.footer__sns::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
  background: url('../images/footer-link02.png') no-repeat center;
  background-size: contain;
}

.footer-info {
  display: none;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.footer-info--show {
  display: flex;
}

.footer-info>li {
  display: block;
  font-size: 0;
  line-height: 1;
  margin: 2rem 6rem 0 0;
}

.footer-info>li:last-child {
  margin: 2rem 0 0 0;
}

.footer-info>li>span {
  font-size: 1.4rem;
  padding-right: 2rem;
  color: #7e868c;
}

.footer-info>li>strong {
  font-size: 1.4rem;
  font-weight: 400;
}

.footer-info>li>a {
  font-size: 1.4rem;
  color: #676d72;
}

.footer__copy {
  display: block;
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 4rem;
}

/* Go-top */
.go-top {
  position: fixed;
  right: 3rem;
  bottom: 5rem;
  width: 4rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: all .2s linear;
}

.go-top--show {
  visibility: visible;
  opacity: 1;
}

.go-top:hover {
  background-color: #dd101a;
}

.go-top__arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  color: #fff;
}

/* Black background */
.black-bg {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .3);
  z-index: 1;
}